.avatar-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  justify-content: 'center';
}

.carnet-photo {
  width: 70%;                 
  height: 45mm;                
  background-color: #f0f0f0;  
  border: 1px solid #ddd;      
  overflow: hidden;            
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 0 auto;             
}