.inicio-loop-container {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inicio-loop-header {
  background-color: #d1eaff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.inicio-loop-logo-container {
  display: flex;
  align-items: center;
}

.inicio-loop-menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.inicio-loop-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.inicio-loop-acciones-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inicio-loop-icono-notificacion,
.inicio-loop-icono-usuario {
  font-size: 1.5rem;
  cursor: pointer;
}

.inicio-loop-cerrar-sesion {
  background: none;
  border: none;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.inicio-loop-contenido-principal {
  display: flex;
  flex: 1;
}

.inicio-loop-sidebar {
  width: 200px;
  background-color: #f0f8ff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inicio-loop-nav-item {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
}

.inicio-loop-main-content {
  flex: 1;
  padding: 2rem;
  position: relative;
}

.inicio-loop-buscador-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.inicio-loop-input-busqueda {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: 1px solid #aaa;
}

.inicio-loop-icono-busqueda {
  margin-left: -2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #555;
}

.inicio-loop-contenido-central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.inicio-loop-imagen-central {
  width: 150px;
  height: auto;
  opacity: 0.8;
}

