.solicitudes-container {
  padding: 1.5rem;
  width: 100%; 
  margin: 1rem 0; 
}

.solicitud-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%; 
}


.driver-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.info-pasajero h3 {
  margin: 0 0 4px 0;
}

.botones-respuesta {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-weight: 100;
  cursor: pointer;
  color: white;
}

.btn-aceptar {
  background-color: #28a745; 
}

.btn-rechazar {
  background-color: #dc3545; 
}

.solicitud-avatar-info {
  display: flex;
  align-items: center;
  gap: 12px; 
  flex: 1;
}

.foto-pasajero {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .solicitudes-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .solicitud-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .botones-respuesta {
    width: 100%;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }

  .foto-pasajero {
    margin-bottom: 10px;
  }
}
