.contenido-blanco {
  margin-left: 50%; 
  padding: 30px 40px;
  min-height: 100vh;
  background-color: #f9f9f9;
  box-sizing: border-box;
    max-width: 1000px;

}

.contenedor-usuarios {

    max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    max-width: 1000px;
  margin: auto;
  overflow: hidden;
  
}

.input-buscar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.tabla-responsive {
     overflow-x: auto;
}

.tabla-usuarios {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabla-usuarios th {
  background-color: #f4b6c2;
  color: #333;
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

.tabla-usuarios td {
  padding: 12px;
  background-color: #fef4f7;
  color: #333;
}

.tabla-usuarios tr:hover {
  background-color: #ffe8ee;
}

.boton-revisar {
  background-color: #b58392;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.boton-revisar:hover {
  background-color: #9f6d7a;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.paginacion button {
  background-color: #d4a5a5;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: default;
}

.paginacion span {
  font-weight: 500;
}